﻿@{
    ViewData["Title"] = "About Us";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container my-5">
    <div class="row">

        <!-- Three containers for about us information -->
        <div class="col-lg-6">
            <div class="AboutUs">
                <h1 class="text-light">Who Are We</h1> <!-- makes the header have a light text colour. This overrides the black colour which is defined in the site.css file. -->
                <!-- Information -->
                <p>Welcome to Sun Electrical, where we specialize in high-quality electrical services for homes and businesses. Our licensed and insured electricians are committed to delivering exceptional workmanship and outstanding customer service. Contact us today for all your electrical needs.</p>
            </div>

            <div class="AboutUs">
                <h1 class="text-light">Our Experience</h1>
                <p>Our team of electricians have over 10 years of experience in the industry. We have worked on a wide range of electrical projects.we pride ourselves on providing quality services at competitive prices.  we are  very professional completing jobs in a time frame within the price  quoted</p>
            </div>

            <div class="Our Services">
                <h1 class="text-light">These are all the services we provide</h1>
                <p>We offer a full range of electrical services, including</p>

                <p> - Electrical installations, repairs, and maintenance.</p>
                <p> - New builds</p>
                <p> - EV charger installations</p>
                <p> -  Home automation</p>
                <p> - Switchboard upgrade</p>
                <p> - Heat pump installations</p>
                <p>Our services are available for both residential and commercial.</p>
            </div>
        </div>


    </div>
</div



