@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Our Experience</p>

<p>Our team of electricians have over 10 years of experience in the industry. We have worked on a wide range of electrical projects.we pride ourselves on providing quality services at competitive prices.  we are  very professional completing jobs in a time frame within the price  quoted</p>

