@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Our Experience</p>

<p>Our team of electricians have over 10 years of experience in the industry. We have worked on a wide range of electrical projects.we pride ourselves on providing quality services at competitive prices.  we are  very professional completing jobs in a time frame within the price  quoted</p>

<p>Our Services</p>

<p>We offer a full range of electrical services, including</p>

<p> - Electrical installations, repairs, and maintenance.</p>
<p> New builds
<p>  EV charger installations
Home automation
Switchboard upgrade
Heat pump installations
Our services are available for both residential and commercial.

