@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to Sun Electrical, where we specialize in high-quality electrical services for homes and businesses. Our licensed and insured electricians are committed to delivering exceptional workmanship and outstanding customer service. Contact us today for all your electrical needs.</p>

<h5>Our Experience</h5>

<p>Our team of electricians have over 10 years of experience in the industry. We have worked on a wide range of electrical projects.we pride ourselves on providing quality services at competitive prices.  we are  very professional completing jobs in a time frame within the price  quoted</p>

<h5>Our Services</h5>

<p>We offer a full range of electrical services, including</p>

<p> - Electrical installations, repairs, and maintenance.</p>
<p> - New builds</p>
<p> - EV charger installations</p>
<p> -  Home automation</p>
<p> - Switchboard upgrade</p>
<p> - Heat pump installations</p>
<p>Our services are available for both residential and commercial.</p>


