@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to contact us if there is anything.</p>​
​
   <div class="row mt-5">
        <div class="col-md-6">
            <h3>Contact Details</h3>
            <p>
                <i class="fas fa-phone-alt"></i> <strong>Phone:</strong> +64 024567978<br>
                <i class="fas fa-envelope"></i> <strong>Email:</strong> sunelectricalservices@gmail.com
            </p>
   </div>
            </div>
<h4>Opening Hours:</h4>
<p> Mon
    06:30 am – 06:00 pm</p>
<p> Tue
    06:30 am – 06:00 pm</p>
<p> Wed
    06:30 am – 06:00 pm</p>
<p> Thu
    06:30 am – 06:00 pm</p>
<p> Fri
    06:30 am – 06:00 pm</p>
<p> Sat
    By Appointment</p>
<p> Sun
    By Appointment</p>
</p>