@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to contact us if there is anything.</p>​

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<!-- Info Box --> 
<div class="contact info">
    <h3>Contact Info</h3>
    <div class="infoBox">
        <div>
            <span><ion-icon name="mail"></ion-icon></span>
            <i class="fas fa-envelope"></i> <strong>Email: <a href="sunelectricalservices@gmail.com">sunelectricalservices@gmail.com</a>
        </div>
        <div> 
            <i class="fas fa-phone-alt"></i> <strong>Phone: <a href="tel:+64 024567978">+64 024567978</a> 
        </div> 
      </div> 
   </div>

<h4>Opening Hours:</h4>
<p> Mon
    06:30 am – 06:00 pm</p>
<p> Tue
    06:30 am – 06:00 pm</p>
<p> Wed
    06:30 am – 06:00 pm</p>
<p> Thu
    06:30 am – 06:00 pm</p>
<p> Fri
    06:30 am – 06:00 pm</p>
<p> Sat
    By Appointment</p>
<p> Sun
    By Appointment</p>
</p>
