@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to contact us if there is anything.</p>

<p>Phone Number: +64 021045678</p>
<p>Email: sunelectricalnz@gmail.com</p>
<p>Opening Hours:</p>
<p> Mon
    06:30 am – 06:00 pm</p>
<p> Tue
    06:30 am – 06:00 pm</p>
<p> Wed
    06:30 am – 06:00 pm</p>
<p> Thu
    06:30 am – 06:00 pm</p>
<p> Fri
    06:30 am – 06:00 pm</p>
<p> Sat
    By Appointment</p>
<p> Sun
    By Appointment</p>
</p>