@{
    ViewData["Title"] = "Residential";
}
<h1>@ViewData["Title"]</h1>

<p>Whether you are building a new home, office , let us help you get your electrics installed to a high standard. Get in touch with us.</p>
