@{
    ViewData["Title"] = "Smart Home Installations";
}
<h1>@ViewData["Title"]</h1>

<p>Smart home automation can simplify daily routines and tasks by allowing you to control various functions in your home with ease. You can control lighting, temperature, security, and more with the touch of a button or  voice command. It can be integrated with other smart devices and platforms like Alexa, Google Home and Apple home kit allowing you to create a seamless and connected smart home that, we offer</p>

<p>- Lighting Control</p>
<p>- Audio & Video</p>
<p>- Energy Management</p>
<p>- Access Control</p>