@{
    ViewData["Title"] = "SwitchBoard Upgrades";
}
<h1>@ViewData["Title"]</h1>

<p>We are qualified electricians with experience and expertise in switchboard upgrades, replacements, installation and  rewiring. we are trained to work with all electrical systems, and  will ensure that your switchboard is installed or upgraded safely. we offer</p>

<p>- Switchboard Replacements</p>
<p> - Switchboard Rewiring</p>
<p> - Switchboard Upgrades</p>
<p> - Fuse Box Upgrades</p>
<p> - Adding New Appliances</p>
